.btn{
  border-radius: 10000px;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 8px 32px;
}

.btn-primary{
  color: $color-white;
  background-color: $color-secondary;
  border-color: $color-secondary;
}

.btn-primary:hover{
  background-color: $color-secondary-hover;
  border-color: $color-secondary-hover;
}

.btn-light{
  color: $color-secondary;
}

.btn-light:hover{
  color: $color-secondary-hover;
}

.btn-outline-light:hover{
  color: $color-secondary;
}
