@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400i,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

h1 {
  font-family: 'Merriweather', serif;
  font-size: 48px;
  font-weight: bold;
  line-height: 1.2em;
}

h2 {
  font-family: 'Merriweather', serif;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.2em;
}

h3 {
  font-family: 'Merriweather', serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.2em;
}

p, li{
  font-family: 'Merriweather', serif;
  font-size: 16px;
  line-height:  1.5em;
}

.overText{
  font-family:  'Oswald', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

