
.Hero{
  min-height: calc(100vh);
  color: $color-primary;
  position: relative;

  &_rowText{
    margin-top: 10%;
  }

  &_h1{
    margin-top: 16px;
    margin-bottom: 32px;
    max-width: 60%;
  }

  &_overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    left:0;
    background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 101.45%);
    z-index: -1;
  }

 &_bg{
  position: absolute;
  right: 0;
  top: 0;
  z-index: -2;
  height: 100%;
 }
}
