// Enter variables here

// Colors
// $color-blueberry: #3a99d8;
// $color-blueberry-hover: #4caff0;

$color-white: #fff;
$color-primary: #534444;
$color-secondary: #874545;
$color-primary-hover: darken($color-primary, 10%);
$color-secondary-hover: darken($color-secondary, 10%);

